bin/
target/
*.log
src/tz-data/
*TempTest*
.idea/.name
.idea/compiler.xml
.idea/dictionaries/apatel.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
src/main/Main.iml
src/test/Test.iml
build/
lib/joda-convert-1.1.jar
lib/junit-3.8.2.jar
.DS_Store